*.directory
*.code-workspace

__pycache*

.vscode
venv
linux_packaging/keyboard-center*
linux_packaging/AUR*
linux_packaging/DEB-keyboard-center/*
linux_packaging/DEB-keyboard-center-git/*

!linux_packaging/DEB-keyboard-center/PKGBUILD
!linux_packaging/DEB-keyboard-center/postinst
!linux_packaging/DEB-keyboard-center/postrm
!linux_packaging/DEB-keyboard-center/postupgrade
!linux_packaging/DEB-keyboard-center/prerm

!linux_packaging/DEB-keyboard-center-git/PKGBUILD
!linux_packaging/DEB-keyboard-center-git/postinst
!linux_packaging/DEB-keyboard-center-git/postrm
!linux_packaging/DEB-keyboard-center-git/postupgrade
!linux_packaging/DEB-keyboard-center-git/prerm

testing/G510
