[Unit]
Description=background service for the G910-gui application
Requires=dbus.service

[Service]
ExecStart=python3 /usr/lib/G910-gui/service.py %h
#Restart=on-failure

[Install]
WantedBy=default.target
#WantedBy=multi-user.target
#WantedBy=graphical.target
