[Unit]
Description=background service for the Keyboard-Center application
Requires=dbus.service

[Service]
ExecStart=python3 /usr/lib/keyboard-center/service.py %h
#Restart=on-failure

[Install]
WantedBy=default.target
#WantedBy=multi-user.target
#WantedBy=graphical.target
